[submodule "oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "oh-my-zsh/custom/plugins/meaningful-error-codes"]
	path = oh-my-zsh/custom/plugins/meaningful-error-codes
	url = https://github.com/cedi/meaningful-error-codes.git
[submodule "oh-my-zsh/custom/themes/zsh-multiline"]
	path = oh-my-zsh/custom/themes/zsh-multiline
	url = https://github.com/cedi/zsh-multiline.git
[submodule "/Users/cedi/.config/dotfiles/oh-my-zsh/custom/plugins/zsh-kubectl-prompt"]
	path = /Users/cedi/.config/dotfiles/oh-my-zsh/custom/plugins/zsh-kubectl-prompt
	url = git@github.com:superbrothers/zsh-kubectl-prompt.git
